.cursos {
    background: #FFF;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.cursos a{
    text-decoration: none;
}

.cursos__titulo{
    color:var(--font-navegacion);
    font-weight: 700;
    font-size: 1.3rem;
    font-family: var(--montserrat);
    text-align: center;
    margin-bottom: 1.5rem;
}

.cursos__texto{
    font-weight: 400;
    font-family: var(--montserrat);
    font-size: 1.1rem;
    line-height: normal;
    text-align: center;
    margin-bottom: 1.5rem;
}

.cursos__panel{
    background: #FAFAFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

}

.cursos__panel-imagen{
    width: 100%;
    max-width: 600px;
    margin-bottom: .5rem;
    border-radius: 10px;
}

.cursos__texto-titulo{
    color:var(--font-navegacion);
    font-family: var(--montserrat);
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
}

.cursos__texto-texto{
    color:#9592A6;
    font-family: var(--montserrat);
    font-size: 1.1rem;
    text-align: center;
}

.cursos__texto-duracion{
    color:#9592A6;
    text-transform: uppercase;
    font-family: var(--montserrat);
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
}

.cursos__texto-estado{
    color: #5855D6;
    font-family: var(--montserrat);
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.cursos__texto-agregar{
    color: #5855D6;
    font-family: var(--montserrat);
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1.5rem;
    text-align: center;
}


@media screen and (min-width:768px) {
    .cursos__titulo{
        font-size: 2.5rem;
        margin-bottom: 1.5rem;     
    }
    
    .cursos__texto{
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
    }

    .cursos__panel-imagen{
        margin-top: 2rem;
    }
    .cursos__texto-titulo{
        font-size: 1.8rem;
    }
    
    .cursos__texto-texto{
        font-size: 1.4rem;
    }
    
    .cursos__texto-duracion{
        font-size: 1.3rem;
    }
    
    .cursos__texto-estado{
        font-size: 1.7rem;
    }

    .cursos__texto-agregar{
        font-size: 3rem;
        margin-top: 2.5rem;
    }
}

@media screen and (min-width:1024px) {
    .cursos{
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
        margin: 1rem 4.5rem;
        background: url(/img/Fondo_Cursos.svg);
    }

    .cursos__panel{
        display: inline-block;
        align-content: center;
        margin: 1.5rem 1rem;
    }

    .cursos__panel-imagen{
        margin-top: 0rem;
        width: 100%;
    }
    .cursos__texto-titulo{
        font-size: 1.2rem;
    }
    
    .cursos__texto-texto{
        font-size: 1.1rem;
    }
    
    .cursos__texto-duracion{
        font-size: 1.1rem;
    }
    
    .cursos__texto-estado{
        font-size: 1.2rem;
        text-align: center;
    }
}